name: Print GitHub Object

on:
  push:
    branches:
      - test
  workflow_dispatch:

env:
  BRANCH_NAME: ${{ github.base_ref || github.ref_name }}

jobs:
  Job1:
    runs-on: ubuntu-latest
    steps:
      - name: Check if repo exists
        uses: LivioMendesCosta/ActionFundamentals/.github/actions/run_hello@test
